*{
	background-color: #d8d8d8;
}
#allcompaniespermissionsandtrackers{
	margin-left: 30%;
}
#amazoncompanypermissionsandtrackers{
	margin-left: 30%;
}
#applecompanypermissionsandtrackers{
	margin-left: 30%;
}
#facebookcompanypermissionsandtrackers{
	margin-left: 30%;
}
#googlecompanypermissionsandtrackers{
	margin-left: 30%;
}
#microsoftcompanypermissionsandtrackers{
	margin-left: 30%;
}
#allcompaniespermissionsaspiechart{
	margin-left: 30%;
}
#allcompaniespermissionsaspiechart1{
	margin-left: 30%;
}
#allcompaniespermissionsaspiechart2{
	margin-left: 30%;
}
#allcompaniespermissionsaspiechart3.html{
	margin-left: 30%;
}